<h1 class="text-center">Honeydew</h1>
<div class="row">
  <div class ="col-lg-6 col-lg-offset-3 text-center">
<h3> Honeydew is an online honey do list platform where significant others, friends, or team members can assign each other tasks to complete. It's great for grocery lists, household chores, the workplace and tons more. Let's Honeydew it! </h3>
  </div>
</div>