#title {
  font-family: 'Poiret One', cursive;
  font-size: 6em;
  font-weight: bold;
}

#honey_title {
  color: #80ffaa;
}

#dew_title {
  color: #ffbb33;
}

#title_logo {
  height: 80px;
  width: 80px;
}


.list_name_links {
  color: #ffbb33;
}

#whole_body {
  background-color: #0d0d0d;
  color: #e6e6e6;
}